.inline-comment-box {
    position: relative;
    margin: 5px;
}

.inline-comment-box-avatar {
    padding: 0 5px;
}

.inline-comment-box-content {
    padding-left: 50px;
}

.inline-comment-box-header {
    position: relative;
    display: inline-flex;
    padding: 7px;
    margin-bottom: -1px;
    width: 100%;
    background-color: #fbfbfb;
    border: 1px solid #d6d6d6;
}

.inline-comment-box-actions {
    position: absolute;
    right: 0;
    bottom: -1px;
}

.inline-comment-title {
    float: left;
}

.inline-comment-action-button {
    background-color: transparent;
    border-color: transparent;
}

.inline-comment-title span {
    color: grey;
}
