.changeset-added {
    background-color: #a0e5cd;
}

.changeset-deleted {
    background-color: #f2a3b4;
    border-radius: 10px 0 0 10px;
}

.changeset-renamed {
    background-color: #838dca;
    border-radius: 10px;
}

.changeset-chunk {
    float: left;
    text-align: center;
    font-size: 9px;
}

.changeset-changed {
    background-color: #ede2a0;
    border-radius: 0 10px 10px 0;
    float: right;
}

.changeset-delta {
    width: 100%;
    height: 12px;
    border-radius: 5px;
    display: inline-flex;
    ;
}
