pre {
    border: none;
    font-size: inherit;
    font-family: inherit;
    padding: 0;
    line-height: 1.5;
    margin: 0;
    overflow: hidden;
    border-radius: 0;
    background-color: transparent;
}

.RichEditor-root {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    overflow: auto;
}

.RichEditor-editor {
    cursor: text;
    background: white;
    font-size: 14px;
    height: 100%;
    color: #4d4c4c;
    margin-right: 20px;
}

.RichEditor-editor .public-DraftEditor-content {
    min-height: 50px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
    display: none;
}

.RichEditor-editor .RichEditor-blockquote {
    border-left: 5px solid #eee;
    color: #666;
    font-family: 'Open Sans', sans-serif;
    ;
    font-style: italic;
    margin: 16px 0;
    padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
    background-color: rgba(0, 0, 0, 0.05);
    font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
    font-size: 14px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 1px;
}

.RichEditor-controls {
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    user-select: none;
    padding: 0px;
    margin-bottom: 10px;
}

.RichEditor-styleButton {
    color: #999;
    cursor: pointer;
    margin-right: 16px;
    padding: 2px 0;
    display: inline-block;
}

.RichEditor-activeButton {
    color: #5890ff;
}
