.changeset-added {
    background-color: #a0e5cd;
}

.changeset-deleted {
    background-color: #f2a3b4;
}

.changeset-renamed {
    background-color: #838dca;
}

.changeset-chunk {
    text-align: center;
    font-size: 9px;
}

.changeset-changed {
    background-color: #ede2a0;
}

.changeset-delta {
    width: 100%;
    height: 12px;
    display: inline-flex;
}
