.badge {
    background-color: rgba(244, 164, 48, 0.74);
    border-radius: 50%;
    color: white;
    font-size: 10px;
    padding: 5px 5px 5px 4px;
    position: absolute;
    text-align: center;
}

.badge-small {
    margin: -10px -5px;
}

.badge-main-menu-open {
    margin: 3px 15px;
}

.badge-main-menu-closed {
    margin: -25px 20px;
}
