.icon-button {
    padding: 0;
    width: 30px;
    height: 30px;
}

.votes-count {
    padding: 0px 0px 0px 10px;
    font-size: 14px;
    color: grey;
}

.default-comment {
    border: 2px solid rgb(200, 210, 210);
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.comment-text {
    white-space: pre-wrap;
}
.new-comment {
    border: 2px solid #d9edf7;
    box-shadow: 3px 2px 11px 1px #cac9c9;
}
.comment-header {
    float: right;
    padding: 8px 15px;
    font-size: 14px;
    color: grey;
}

.header-text {
    vertical-align: bottom;
}

.comment-frame {
    margin-bottom: 10px;
}
.icon {
    background-color: transparent;
    border-color: transparent;
    color: lightgrey;
    font-size: 17px;
}

.nice-to-have {
    color: rgb(218, 247, 166);
}

.issue {
    color: rgb(172, 101, 51); 
}

.thumbs-down {
    color: rgb(212, 127, 125);
}

.status-circle {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    margin: 9px;
    float: right;
    margin-top: 5px;
}

.approved-status-comment {
    background-color: green;
}

.rejected-status-comment {
    background-color: red;
}

.not-reviewed-status-comment {
    background-color: grey;
}

.under-review-status-comment {
    background-color: orange;
}
