.new-status {
    border-left: 4px solid #6fb9ed;
}

.approved-status {
    border-left: 4px solid #d1fad1;
}

.under-review-status {
    border-left: 4px solid rgba(235, 184, 30, 0.48);
}

.rejected-status {
    border-left: 4px solid lightcoral;
}

.closed-status {
    border-left: 4px solid lightgray;
}

.remove-icon {
    margin: 5px;
    font-size: 20px;
    float: right;
    cursor: pointer;
    color: #aebac0;
}

.sub-header {
    color: #8c8c8c;
    font-size: 13px;
}

.build-success {
    color: mediumseagreen;
}

.build-failed {
    color: mediumvioletred
}
